@model IEnumerable<Test_Uklon_WebApplication.Models.Order>


@{
    ViewData["Title"] = "AllOrdersView";
}

<h2 class="mainpagecenter">Order list</h2>
<br />
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>AdressFrom</th>
                <th>AdressTo</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Canceled</th>
                <th colspan="2" class="mainpagecenter">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userinfo in Model)
            {
                <tr>
                    <td>@userinfo.Id</td>
                    <td>@userinfo.AddressFrom</td>
                    <td>@userinfo.AddressTo</td>
                    <td>@userinfo.Phone</td>
                    <td>@userinfo.Price</td>
                    <td>
                        @if (@userinfo.Canceled)
                        {
                            <span class="validationcolor" id="@userinfo.Id"><b>YES</b></span>
                        }
                        else
                        {
                            <span class="validationcolorg" id="@userinfo.Id"><b>NO</b></span>
                        }
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="EditOrderView" asp-route-id="@userinfo.Id">
                            <input type='button' class="btn btn-primary" value='Edit' title="Edit current order" />
                        </a>
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" title="Cancel current order" value="Cancel" onclick="CancelOrder(@userinfo.Id)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Order" asp-action="CreateOrderView">
        <input type='button' class="btn btn-success" value='Add new order' title="Add new order" />
    </a>
</div>

